@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.delivery {
    margin-bottom: 40px;

    .delivery-methods {

        @media (max-width: 767px) {
            border: 1px solid #d8d8d8;
            border-bottom-color: transparent;
        }

        &__list {

            &::before,
            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }

        &__item {
            display: inline;

            @media (max-width: 767px) {
                display: block;
            }
        }

        &__link {
            position: relative;
            bottom: -1px;
            z-index: 1;
            display: inline-block;
            padding: 15px 20px;
            font-weight: 600;
            color: #171717;
            border: 1px solid transparent;

            @media (max-width: 767px) {
                display: block;
                padding: 15px;
                font-weight: 400;
                border-bottom: 1px solid #d8d8d8;
            }

            &:focus {
                outline: none;
            }

            &.active,
            &[aria-selected="true"] {
                color: #d74516;
                border: 1px solid #d8d8d8;
                border-bottom: 1px solid #fff;

                @media (max-width: 767px) {
                    background-color: #f5f5f5;
                    border-color: transparent;
                }
            }
        }

        &__content {
            float: left;
            width: 100%;
            padding: 20px 20px 0;
            font-size: 16px;
            border-top: 1px solid #d8d8d8;
            animation: fade-in .33s 1 ease-in-out forwards;

            @media (max-width: 767px) {
                float: initial;
                padding: 15px;
                font-size: 14px;
                border-top: initial;
                border-bottom: 1px solid #d8d8d8;
            }

            &::before,
            &::after {
                content: "";
                display: table;
                clear: both;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .method {

        &__block {
            margin-bottom: 30px;

            &.alert {
                padding: 20px;
                background-color: #fcf8e3;

                @media (max-width: 767px) {
                    padding: 15px;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            h2 {
                margin-bottom: 15px;
                font-size: 24px;

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }

            ul {
                padding-left: 35px;
                list-style: square;

                @media (max-width: 767px) {
                    padding-left: 15px;
                }
            }

            li {
                margin-bottom: 3px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            p {
                margin-bottom: 1em;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-table {
                overflow-x: auto;
            }

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    font-weight: normal;
                    text-align: left;
                }

                th,
                td {
                    padding: 6px 15px;
                    border: 1px solid #d8d8d8;
                }
            }
        }
    }
}
